.navbar-default {
    width: 100%;
    background-color: #313131;
    clear: both;
    overflow: auto;
    margin: 0;
    border: none;
    border-radius: 0;
    height: 80px;
}

.navbar-default ul li {
    display: inline;
    height: 100%;
    margin-top: 0;
}

.navbar-default ul li a {
    font-size: 16px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav {
    margin-left:0;
    margin-right:0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: #F5F5F5;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #F5F5F5;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
}

.navbar-collapse {
    padding:0;
}